@import "tailwindcss";
@import "tw-animate-css";

/* Global dark theme styles */
html {
    color-scheme: dark;
    color: #f3f4f6;
}

/* Remove Scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Hero video and overlay custom styles */
.hero-bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
}
